<div class="container mt-100">
    <div class="row" *ngIf="post">
        <hr/>
        <div class="col-lg-9">
            <div class="row post w-100">
                <div class="col-sm-1 px-0">
                    <app-vote-button [post]="post"></app-vote-button>
                </div>
                <div class="col-sm-11">
                    <span>
                    <span class="font-weight-bold text-dark"><a class="text-dark" href="">{{post.subredditName}}</a></span>
                    <span>. Posted <span> {{post.duration}} </span>by
                        <a *ngIf="post.username === null" class="username" href="">Anonymous</a>
                        <a *ngIf="post.username != null" class="username" href="">{{post.username}}</a>
                    </span>                        
                    </span>
                    <hr/>
                    <a routerLink="post.url" class="post-title">{{post.postName}}</a>
                    <div>
                        <p class="mt-3" [innerHtml]="post.description"></p>
                    </div>
                    <div class="post-comment">
                        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Thoughts?" formControlName="text" [ngClass]="{'is-invalid': formErrors.text}"></textarea>
                                <div class="invalid-feedback">
                                    {{ formErrors.text }}
                                </div>
                            </div>
                          <button type="submit" class="login float-right">Comment</button>
                        </form>
                    </div>
                    <div style="margin-top: 60px;"></div>
                    <div class="mt-1" *ngFor="let comment of comments">
                        <div class="comment">
                            <div class="username">
                                <a routerLink="/user/comment.username">{{comment.username}}</a>
                            </div>
                            <div>
                                <p>{{comment.duration}}</p>
                            </div>
                            {{comment.text}}
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-lg-3">
            <app-side-bar></app-side-bar>
            <app-subreddit-side-bar></app-subreddit-side-bar>
        </div>
    </div>
</div>
