<div class="container mt-100">
    <div class="row justify-content-center">
      <div class="create-post-container col-md-9">
        <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
            <div class="create-post-heading">Create Post</div>
            <hr />
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <div class="form-group">
                <input type="text" class="form-control mt-1" placeholder="Title" formControlName="name" [ngClass]="{'is-invalid': formErrors.name}">
                <div class="invalid-feedback">
                    {{ formErrors.name }}
                </div>
            </div>

            <input type="text" class="form-control" placeholder="URL" formControlName="url">

            <div class="form-group">
                <select class="form-control mt-3" formControlName="subredditId" [ngClass]="{'is-invalid': formErrors.subredditId}">
                    <option value="" selected disabled>Select Subreddit</option>
                    <option *ngFor="let subreddit of subreddits" [ngValue]="subreddit.id">{{subreddit.name}}</option>
                  </select>
                <div class="invalid-feedback">
                    {{ formErrors.subredditId }}
                </div>
            </div>

            <div class="form-group">
                <editor class="mt-3" formControlName="description" [ngClass]="{'is-invalid': formErrors.description}"
                    apiKey="p8p0mrneet23k0k9kirbosin9zaafdgny9q2s5t03944qrwa"
                    [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                          'advlist autolink lists link image charmap print preview anchor',
                          'searchreplace visualblocks code fullscreen',
                          'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                          'undo redo | formatselect | bold italic backcolor | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | removeformat | help'
                      }">
                </editor>
                <div class="invalid-feedback">
                    {{ formErrors.description }}
                </div>
            </div>
            <div class="float-right">
                <button (click)="discardPost()" class="btnDiscard">Discard</button>
                <button type="submit" class="btnCreatePost">Post</button>
            </div>
        </form>
      </div>
    </div>
</div>
